
body {
    font-family: Arial, sans-serif;
    background-color: #fff; 
    color: #333;
    margin: 0;
    padding: 0;
}


header {
    background-color: #000; 
    color: #fff;
    padding: 1.5em;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}


nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #000; 
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 20px;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #f44336;
    border-radius: 5px;
}


#admin-functions {
    max-width: 900px;
    margin: 3em auto;
    background-color: #f4f4f4;
    padding: 3em;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 2em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

form input,
form select,
form textarea {
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1em;
}

form input:focus,
form select:focus,
form textarea:focus {
    border-color: #3f51b5;
    outline: none;
}

form button {
    background-color: #f44336;
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #000; 
}


table {
    width: 100%;
    margin-top: 2em;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #000; 
    color: #fff;
}

td {
    background-color: #f9f9f9;
}


button.delete-btn {
    background-color: #ff4d4d; 
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button.delete-btn:hover {
    background-color: #cc0000; 
}


@media (max-width: 768px) {
    #admin-functions {
        margin: 2em auto;
        padding: 2em;
    }

    form {
        padding: 1.5em;
    }

    form button {
        padding: 10px 15px;
        font-size: 16px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    nav ul li a {
        padding: 10px;
        font-size: 16px;
    }
}
